

body{margin-top:20px;
background-color:#f2f6fc;
color:#69707a;
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --brand: #4E73DF;
    --brand2: #ffcd295a;
    --white: #F9F9F9;
    --white2: #F5F5F5;
    --grey: #F2F2F2;
    --black: #080808;
    --shadow: 0 15px 25px 0 #0000000c;
    --shade: #00000015;
    --shadowL: -3px 8px 8px 0 #0000000c;
    --radiusL: 5px 0 0 5px;
    --shadowR: 3px 8px 8px 0 #0000000c;
    --radiusR: 0 5px 5px 0;
    --none: #00000000;
    --main: #4E73DF;
    --main2: #ffcd2950;
    --shade1: #F2F2F2;
    --shade2: #F9F9F9;
    --shade3: #f5f5f5;
    --shadow: #0000000c;
    --shadow2: #00000020;
    --shadow3: #00000006;
}

#btn {
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;

    width: fit-content;
    height: fit-content;
    margin-right: 0.5em;

    padding: 0.3em 1em;
    border: solid 1.5px #4E73DF;
    border-radius: 1em;
    color: black;
    transition: 300ms;
    background-color: #00000000;
}

#btn:hover {
    color: white;
    transition: 300ms;

    background-color: var(--main);
}

.hl {
    text-decoration: underline var(--brand);
}

.fade {
    color: var(--shade);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--grey);
}

a {
    text-decoration: none;
    color: var(--black);
}

li {
    list-style: none;
}

ul {
    display: flex;
    gap: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 4em;
    background-color: white;
    box-shadow: var(--shadow);
}

.padding {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 4em;
}

.flex {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.icon {
    height: 2em;
}

.btn {
    padding: 0.3em 1em;
    font-size: 1em;
    font-weight: 600;
    outline: none;
    height: fit-content;
    width: fit-content;
    background-color: var(--none);
    border: 2px solid var(--brand);
    border-radius: 1.5em;
    transition: 200ms;
}

.btn:hover {
    background-color: var(--brand);
    color: white;
    transition: 200ms;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    height: 34em;
    background-color: var(--white);
}
